@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: 'Inter Tight', sans-serif;
}

body {
    background-color: black;
}

section {
    padding: 10rem 0;
}

.swiper {
  --swiper-navigation-color: red;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  color: red;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}